---
import Layout from '../layouts/Layout.astro';
import HomepageTabs from '../components/HomepageTabs.jsx';
import { getHomepageData } from '../lib/graphql.js';

const data = await getHomepageData();
---

<Layout title="ABC Transportation">
  <main>
    <HomepageTabs 
  client:load
  tabs={data.tabs}
  getAQuoteUrl={data.getAQuoteUrl}
  bookOnlineUrl={data.bookOnlineUrl}
/>
  </main>
</Layout>